:root {
  --c12: #000000;
  --c11: #111111;
  --c10: #2e2e2e;
  --c9: #404040;
  --c8: #595959;
  --c7: #717171;
  --c6: #9c9c9c;
  --c5: #b2b2b2;
  --c4: #cccccc;
  --c3: #dedede;
  --c2: #ededed;
  --c1: #f7f7f7;
  --c0: #ffffff;

  --p5: #332200;
  --p4: #664400;
  --p3: #a66f00;
  --p2: #e4a30b;
  --p1: #ffbb00;
}

body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  height: 4000px;
}

ul,
p,
h1,
h2,
h3 {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

.header-bg {
  background-color: var(--c12);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  box-sizing: border-box;
  max-width: 1800px;
  padding: 2rem;
  margin: 0px auto;
}

.header-menu {
  display: flex;
  gap: 3rem;
  font-size: 1.5rem;
}

.header-menu a {
  color: var(--c0);
  padding: 1rem 0px;
  display: inline-block;
  position: relative;
}

.header-menu a:after {
  content: "";
  width: 0px;
  height: 0.25rem;
  display: block;
  background-color: var(--c0);
  margin-top: 0.125rem;
  transition: 0.25s;
  position: absolute;
}

.header-menu a:hover:after {
  width: 100%;
}

@media (max-width: 900px) {
  .header {
    gap: 2rem;
    justify-items: center;
    justify-content: center;
    display: grid;
  }

  .header-menu {
    font-size: 1.25rem;
  }

  .header-menu a {
    padding: 0.75rem 1rem;
    border-radius: 0.25rem;
    background-color: var(--c11);
  }

  .header-menu a:hover {
    background-color: var(--c10);
  }

  .header-menu a::after {
    content: none;
  }
}

@media (max-width: 500px) {
  .header-menu {
    display: grid;
    justify-items: center;
    gap: 0.75rem;
    font-size: 1.1rem;
  }
}

/* INTRODUCÃO */

.introducao-bg {
  background-color: var(--c12);
  box-shadow: inset 0 -7.5rem var(--c0);
}

.introducao {
  color: var(--c0);
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2rem;
  box-sizing: border-box;
  max-width: 1800px;
  margin: 0px auto;
  align-items: center;
  gap: 0px 5rem;
  font-size: 2.25rem;
}

.introducao-conteudo {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-bottom: 15rem;
}

.introducao-conteudo h1 {
  font-size: 6rem;
  margin-bottom: 1.5rem;
}

.introducao-conteudo h1 span {
  color: var(--p1);
}

.introducao-conteudo p {
  color: var(--c5);
}

.introducao-conteudo a {
  padding: 1rem 2rem;
  background-color: var(--p1);
  border-radius: 0.25rem;
  color: var(--p5);
  font-weight: bold;
  box-shadow: 0.25rem 0.25rem var(--p3);
  text-transform: uppercase;
}

.introducao-conteudo a:hover {
  background-color: var(--p2);
  box-shadow: 0.25rem 0.25rem var(--p4);
}

.introducao-bicicleta {
  height: 100%;
}

.introducao-bicicleta img {
  border-radius: 1rem;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1500px) {
  .introducao-conteudo h1 {
    font-size: 5rem;
  }

  .introducao-conteudo p {
    font-size: 2rem;
  }

  .introducao-conteudo a {
    font-size: 2rem;
    padding: 0.5rem 1rem;
  }
}

@media (max-width: 1200px) {
  .introducao-conteudo h1 {
    font-size: 4rem;
  }

  .introducao-conteudo p {
    font-size: 1.75rem;
  }

  .introducao-conteudo a {
    font-size: 1.75rem;
    padding: 0.5rem 1rem;
  }
}

@media (max-width: 900px) {
  .introducao-bg {
    box-shadow: none;
  }

  .introducao {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .introducao-conteudo {
    margin-bottom: 2rem;
    justify-content: center;
    text-align: center;
    gap: 0.5rem;
  }

  .introducao-conteudo h1 {
    font-size: 3rem;
    margin-bottom: 0px;
  }

  .introducao-conteudo p {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .introducao-conteudo a {
    font-size: 1.5rem;
  }

  .introducao-bicicleta {
    width: 100%;
  }

  .introducao-bicicleta img {
    max-height: 600px;
    width: 100%;
  }
}

@media (max-width: 600px) {
  .introducao-conteudo h1 {
    font-size: 2.25rem;
  }

  .introducao-conteudo p {
    font-size: 1.25rem;
  }

  .introducao-conteudo a {
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
  }

  .introducao-bicicleta img {
    max-height: 350px;
    width: 100%;
  }
}
