.introducao-bg {
  background: var(--c12) url("../../img/dec/bottom-left.svg") no-repeat bottom
    160px left 20px;
  box-shadow: inset 0 -80px var(--c0);
}

.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 32px;
  gap: 0px 80px;
}

.introducao-conteudo {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-bottom: 240px;
}

.introducao-conteudo h1 {
  margin-bottom: 24px;
}

.introducao-bicicleta {
  width: 100%;
  height: 100%;
}

.introducao-bicicleta img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 900px) {
  .introducao-bg {
    box-shadow: none;
  }

  .introducao {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .introducao-conteudo {
    margin-bottom: 32px;
    justify-content: center;
    text-align: center;
    gap: 8px;
  }

  .introducao-conteudo h1 {
    margin-bottom: 0px;
  }

  .introducao-conteudo p {
    margin-bottom: 8px;
  }

  .introducao-bicicleta {
    width: 100%;
  }

  .introducao-bicicleta img {
    max-height: 600px;
    width: 100%;
  }
}

@media (max-width: 600px) {
  .introducao-bicicleta img {
    max-height: 350px;
    width: 100%;
  }
}
