.vantagens-bg {
  background-color: var(--c12);
}

.vantagens {
  padding: 180px 30px;
}

.vantagens h2 {
  margin-bottom: 90px;
}

.vantagens ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, max-content));
  gap: 60px 120px;
}

.vantagens h3 .vantagens img {
  margin-bottom: 12px;
}

@media (max-width: 1200px) {
  .vantagens {
    padding: 90px 30px;
  }
  .vantagens h2 {
    margin-bottom: 60px;
  }
}
